<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "erro") %> proibiu este post de ser salvo:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <div class="form-group">
      <%= form.label :author, "Autor" %>
      <%= form.text_field :author, value: current_user.email, class: "form-control", readonly: true %>
    </div>
  <% else %>
    <div class="form-group">
      <%= form.label :author, "Autor" %>
      <%= form.text_field :author, value: "Anônimo", class: "form-control", readonly: true %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, "Título" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :body, "Conteúdo" %>
    <%= form.text_area :body, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Criar Post", class: "btn btn-primary" %>
  </div>
<% end %>